@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color-primary: #001E72;
}

html {
    font-family: var(--font-montserrat);
    color: var(--text-color-primary);
}


.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  /* pointer-events: none; */
  background-color: #F5F7F9;
}


@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.main-container {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.header {
  @apply bg-white px-[140px] h-[65px] flex items-center w-screen;
  border-bottom: 0.5px solid #DDDDDD;
}

.nav {
  @apply flex flex-row items-center justify-between w-full
}

.logo {
  @apply text-primary text-xl font-bold
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}


.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-montserrat pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}


.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}